<div class="row">
	<div class="col-md-8">
			<div class="page-header">
				<h2>Add Article</h2>
			</div>
				<%= render 'form' %>
	</div>

	<div class="col-md-4">
	
		<div class="page-header">
			<h2>Add Category</h2>
		</div>
		
		<%= render './categories/form' %>

		<div class="page-header">
				<h2>Categories</h2>
			</div>

		<ul class="list-group">
			<% Category.all.each do |category| %>
		  <li class="list-group-item">
		    <span class="badge"><%= category.articles.size %></span>
		    <%= category.name %>
		  </li>
		  <% end %>
		</ul>

	</div>
</div>





<%= link_to 'Back', articles_path %>
